@{
    ViewData["Title"] = "Tag Helper Demo";
}

<h1>Tag Helper Demo</h1>

<h2>Using the Anti-Caps Tag Helper</h2>
<anti-caps>This Text Will Be Converted To Lowercase</anti-caps>


<h2>Using the SpongeBob Case Tag Helper</h2>
<sponge-bob-case>This Text Will Be Converted To SpongeBob Case</sponge-bob-case>
